<!DOCTYPE html>
<html lang="pt-br">
<head>
  <%- include('../partials/head') %>
  <link rel="stylesheet" href="/css/pesquisarLivros.css">
  <title>Livros Disponíveis | Livraria</title>
</head>

<body>
  <%- include('../partials/navbar') %>

  <div class="modal fade" id="atualizarLivroModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="atualizarLivroModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="atualizarLivroModalLabel">Atualizar Livro</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="form-atualizar-livro">
            <div class="form-floating mb-3">
              <input type="number" class="form-control" id="id" autocomplete="off" readonly disabled>
              <label for="titulo" class="form-label">ID</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="titulo" placeholder="Novo Titulo" autocomplete="off">
              <label for="titulo" class="form-label">Atualizar Título</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="autor" placeholder="Novo Autor" autocomplete="off">
              <label for="autor" class="form-label">Atualizar Autor</label>
            </div>
            <div class="form-floating mb-3">
              <input type="number" class="form-control" id="ano" placeholder="2024" autocomplete="off">
              <label for="ano" class="form-label">Atualizar Ano</label>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" id="atualizar-livro-form-btn" class="btn btn-primary">Atualizar</button>
        </div>
      </div>
    </div>
  </div>

  <main class="px-3 py-2">
    <h2>Área de Pesquisa</h2>
    <form id="form-pesquisa" class="mt-4">
      <label for="tituloPesquisa">Título:</label>
      <input type="text" id="tituloPesquisa" class="form-control" placeholder="Livro A" autocomplete="off">
      <input type="radio" class="form-check-input" name="pesquisa" value="titulo" checked>

      <label for="anoPesquisa">Ano:</label>
      <input type="text" id="anoPesquisa" class="form-control" placeholder="1983" autocomplete="off" disabled>
      <input type="radio" class="form-check-input" name="pesquisa" value="ano">
      <button type="submit" class="btn btn-primary">Pesquisar</button>
      <a class="link" href="/livraria/buscar">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z"/>
          <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466"/>
        </svg>
      </a>
    </form>
    <hr>

    <% if (livros.length !== 0) {%>
      <div class="table-div">
        <div class="table-head">
          <div class="table-row">
            <div class="table-data">ID</div>
            <div class="table-data">Titulo</div>
            <div class="table-data">Autor</div>
            <div class="table-data">Ano</div>
            <div class="table-data">Ações</div>
          </div>
        </div>
        <div class="table-body">
          <% livros.forEach(livro => { %>
            <div class="table-row">
              <div class="table-data"><%= livro.id %></div>
              <div class="table-data"><%= livro.titulo %></div>
              <div class="table-data"><%= livro.autor %></div>
              <div class="table-data"><%= livro.ano %></div>
              <div class="table-data">
                <button
                  class="btn btn-success"
                  data-bs-toggle="modal"
                  data-bs-target="#atualizarLivroModal"
                  onclick="enviarDadosAoModal(`<%= livro.id %>`, `<%= livro.titulo %>`, `<%= livro.autor %>`, `<%= livro.ano %>`)"
                >
                  Atualizar
                </button>
                <button class="btn btn-danger" onclick="removerLivro('<%= livro.id %>')">Remover</button>
              </div>
            </div>
          <% }); %>
        </div>
      </div>
    <% } else { %>
      <p class="fs-3">Livro não encontrado</p>
    <% } %>
  </main>

  <script src="/js/pesquisarLivros.js"></script>
</body>
</html>